html
	head
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
	script(type='text/javascript' src='js/search.js')
	body
		form(method="POST" action="/userresult")
			div.input
				span.label Search User!
				br
				br
				input#update(list='searchbar' type='text' name='firstname')
				datalist#searchbar

			div.actions
				input(type='submit')