html
	head
		link(rel='stylesheet', href='/style/users.css', type='text/css')
		link(rel='stylesheet', href='/bootstrap', type='text/css')
		title User Information 
	body
		h1 User Information
		p USERS
		ul
			each thing in data
				li <strong>Name:</strong> #{thing.firstname} #{thing.lastname}
